html{
    margin: 0;
    padding: 0;
} 

body{
    background-color: #e8d151;
}

#logo{
    margin-top: 20px;
    background:url("images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 300px;
    margin: auto auto;
    margin-bottom: 40px;
    
}

button{
    font-family: 'Varela Round', sans-serif;
    background: #e8d151;
    font-weight: bold;
    padding: 10px;
    border: 3px solid white;
    border-radius: 5px;
    letter-spacing: 2px;
    
}

button:hover{
    transform: scale(1.1);
    transition: .4s;
}

select {
    padding: 5px;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
}

option{
    background: #e8d151;
}

p{
    clear: both;
    color: black;
    background: rgb(255,255,255, 0.3);
    border-radius: 10px;
    padding: 5px;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

#wrapper {
    margin: auto auto;
    margin-bottom: 0;
    padding: 35px 70px 70px 70px;
    width: 700px;
    background: url("images/tunnel.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#main {
    margin: auto;
    width:400px;
    height:400px;
    position: relative;
    top: 
}

.tile {
    width:96px;
    height:96px;
    float: left;
    text-align: center;
    border: 2px black solid;
    vertical-align: middle;
    font-size: 32px;
    line-height: 100px;
    font-family: 'Varela Round', sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 5px white;
}

h1 {
    text-align: center;
    margin: auto;
    font-family: 'Varela Round', sans-serif;
}

h1 span{
    font-weight: bold;
}

button, select {
    display: block;
    margin: 10px auto;
}

img {
    height: 30px;
    float: right;
}

a {
    text-decoration: none;
    border:0;
}

.valid{
    float: none;
}

footer{
   text-align: center;
    margin-top: 50px;
}

.super-mario { background: url("images/super-mario.jpg"); }
.luigi       { background: url("images/luigi.jpg");       }
.bowser      { background: url("images/bowser.jpg");      }
.toad        { background: url("images/toad.jpg");        }

#one      { background-position: 0      0;      }
#two      { background-position: -100px 0;      }
#three    { background-position: -200px 0;      }
#four     { background-position: -300px 0;      }
#five     { background-position: 0      -100px; }
#six      { background-position: -100px -100px; }
#seven    { background-position: -200px -100px; }
#eight    { background-position: -300px -100px; }
#nine     { background-position: 0      -200px; }
#ten      { background-position: -100px -200px; }
#eleven   { background-position: -200px -200px; }
#twelve   { background-position: -300px -200px; }
#thirteen { background-position: 0      -300px; }
#fourteen { background-position: -100px -300px; }
#fifteen  { background-position: -200px -300px; }
#sixteen  { border: 2px solid white !important; }

.clickable {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.clickable:hover {
    border-color: red !important;
    text-decoration: underline !important;
    color: #006600;
    cursor: pointer;
}

#win {
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    display: block;
}

#win img {
    float: none !important;
    height: 100% !important;
}

.animate-up {
    -webkit-transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    -ms-transform: translate(0, -100px);
    -o-transform: translate(0, -100px);
    transform: translate(0, -100px);
}

.animate-down {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
}

.animate-left {
    -webkit-transform: translate(-100px, 0);
    -moz-transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    -o-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
}

.animate-right {
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    transform: translate(100px, 0);
}